* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: brown;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-weight: 700;
  color: white;
  font-size: 30px;
  font-family: fantasy;
}
.nav__list {
  display: flex;
  gap: 30px;
}
.nav__link {
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}
.footer {
  text-transform: uppercase;
  display: flex;
  height: 100px;
  background-color: brown;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: white;
}

.section__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px 0 50px;
}

h3 {
  font-size: 50px;
}

.Shohruhmirzo {
  background-color: lightgray;
}

.section__inner img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: -webkit-zoom-in;
}

.form__btn{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    margin: 0 auto;
}

/* section start */
.section__john{
    display: block;
    justify-content: center;
    margin-top:20px;
 
}
.info__block{
    display: flex;
    margin: 10px auto;
    justify-content: center;
    gap: 20px;
}
.section__h2{
    font-family: sans-serif;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    color: green;
}
.section__text{
    font-family: serif;
    text-align: justify;
    padding: 15px;
    border-radius: 10px;
    background-color: greenyellow;
    margin-bottom: 20px;
}

.section__img{
    height: 500px;
    width: 500px;
    margin-bottom: 20px;
    margin: auto;
    border-radius: 10px;
}
/* section end */

.footer{
    text-transform: uppercase;
    display: flex;
    height: 100px;
    background-color: brown;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: white;
}
/* .fayzullo{
    background-color: rgb(80, 78, 78);
} */
.watch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 48px;
    background-color:rgb(158, 157, 157);
    color: white;
    font-size: 56px;
}
.watch:hover {
    color: red;
}
.watch_text {
    display: flex;
    text-align: center;
    padding: 15px 30px;
    font-size: 32px;
    background-color: rgb(240, 98, 98);
    color: white;
    border-radius: 15px;
}
.watch_text:hover {
    color: black;
}
.watch_img {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    max-width: 100%;
    width: 37%;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;

/* Lorem Start */

.lorem{
    background-color: rgb(197, 197, 197);
}

.lorem__inner{
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lorem__title{
    font-family: sans-serif;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 800;
}

.lorem__text{
    font-family: sans-serif;
    margin-bottom: 40px;
    max-width: 500px;
    line-height: 20px;
}

.lorem__link{
    font-family: sans-serif;
    font-size: 20px;
    background-color: black;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    transition: .2s;
}

.lorem__link:hover{
    color: black;
    background-color: white;
}

.img{
    transition: .3s;
    cursor: pointer;
    width: 450px;
    height: 450px;
    border-radius: 50%;
}
.img:hover{
    transform: scale(1.1);
    cursor: pointer;
    
}

/* Lorem End */
.solihjon {
    text-align: center;
    padding: 20px 0;
    background-color: coral;
}

.solihjon__title {
    color: #333;
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 15px;
}

.solihjon__text {
    color: #333;
    font-family: sans-serif;
    margin-bottom: 25px;
    text-shadow: 0 0 20px #8d2e0b;
}

.solihjon__image {
    border-radius: 10px;
    transition: .5s;
    animation-name: effect1;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
}

@keyframes effect1 {
    0%{transform: scale(0.0);}
    50%{transform: scale(0.0);}
}

.section-1 {
    padding: 50px 0;
    background-color: rgb(248, 105, 52);
}

.section-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.section__text {
    color: #333;
    font-family: sans-serif;
    margin-bottom: 35px;
    text-shadow: 0 0 20px rgb(255, 68, 0);
}

.section__link {
    color: white;
}
.yoqubjon{
    background-color: rgb(42, 41, 41);
    padding-top: 15px;
}
.yoqubjon__title{
    text-align: center;
    font-size: 50px;
    background-color: black;
    color: white;
}

.sunnat{
    
    padding: 40px;
    background-color: rgb(94, 162, 252);
}


.sunnat__inner{
    text-align: center;
}

.sunnat__img{
    max-width: 700px;
    border-radius: 80%;
}

.sunnat__title{
    margin-bottom: 15px;
    font-size: 35px;
    color: rgb(243, 177, 77);
    /* margin: 12px 0 12px; */
}

.sunnat__text{
    font-size: 25px;
    color: rgb(230, 243, 49);
    margin-bottom: 12px;
}
    border-radius: 15px;
    padding: 15px;
    
}
.yoqubjon__text{
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    color: rgb(221, 217, 217);
}
.yoqubjon__img{
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 35px;
}
.yoqubjon__link{
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 15px 10px;
    transition: .3s;
}
.yoqubjon__link:hover{
    background-color: rgb(41, 40, 40);
}
    font-family: sans-serif;
    background-color: crimson;
    padding: 13px 20px;
    border-radius: 4px;
    transition: .4s;
}

.section__link:hover {
    background-color: rgb(172, 16, 48);
}

.section-1_image {
    animation-name: effect;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes effect {
    0%{transform: translateY(-20px);}
    0%{transform: translateY(-20px);}
}
    padding: 15px 55px;
    border-radius: 2px;
    background-color: red;
    transition: .5s;
}
.form__btn:hover{
    background-color: rgb(200, 74, 74);
    transform: scale(1.1);
}
