*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: brown;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    font-weight: 700;
    color: white;
    font-size: 30px;
    font-family: fantasy;
}
.nav__list{
    display: flex;
    gap: 30px;
}
.nav__link{
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}
.footer{
    text-transform: uppercase;
    display: flex;
    height: 100px;
    background-color: brown;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: white;
}
/* .fayzullo{
    background-color: rgb(80, 78, 78);
} */
.watch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    margin-top: 30px;
    margin-bottom: 48px;
    background-color:rgb(158, 157, 157);
    color: white;
    font-size: 56px;
}
.watch:hover {
    color: red;
}
.watch_text {
    display: flex;
    text-align: center;
    padding: 15px 30px;
    font-size: 32px;
    background-color: rgb(240, 98, 98);
    color: white;
    border-radius: 15px;
}
.watch_text:hover {
    color: black;
}
.watch_img {
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    max-width: 100%;
    width: 37%;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
